<!-- views/components/policy/footer.ejs -->
<footer>
    <p>&copy; <%= new Date().getFullYear() %> <a href="https://klippefort.online" style="color: rgb(255, 201, 115);  text-decoration: none;">Klippefort-Digital</a>. All Rights Reserved.</p>
</footer>
